<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QUAN_LI_SINH_VIEN"
        tools:targetApi="31">
        <activity
            android:name=".ActivityUpdateClass"
            android:exported="false" />
        <activity
            android:name=".ActivityInformationClass"
            android:exported="false" />
        <activity
            android:name=".ActivityAddClass"
            android:exported="false" />
        <activity
            android:name=".ActivityClass"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ActivityUpdateMajor"
            android:exported="false" />
        <activity
            android:name=".ActitvityMajorInformation"
            android:exported="false" />
        <activity
            android:name=".ActivityAddMajor"
            android:exported="false" />
        <activity
            android:name=".ActivityMajor"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ActivityUpdateStudent"
            android:exported="false" />
        <activity
            android:name=".ActivityInformationStudent"
            android:exported="false" />
        <activity
            android:name=".ActivityAddStudent"
            android:exported="false" />
        <activity
            android:name=".ActivityUpdateSubject"
            android:exported="false" />
        <activity
            android:name=".ActivitySubjectInformation"
            android:exported="false" />
        <activity
            android:name=".ActivityStudent"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ActivityAddSubject"
            android:exported="false" />
        <activity
            android:name=".ActivitySubject"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>